footer {
  background: linear-gradient(to right, #1c1c1c, #333);
  color: #fff;
  padding: 40px 20px;
  margin-top: 3vh;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company-info {
  max-width: 300px;
}

.company-info img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 15px;
}

a {
  color: #EDEFEE;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #F4CE14;
}

h3 {
  color: #F4CE14;
  border-bottom: 2px solid #F4CE14;
  padding-bottom: 8px;
}

ul li {
  margin-bottom: 15px;
}

ul li:last-child {
  margin-bottom: 0;
}

.contact-info li {
  font-size: 14px;
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  section {
    display: flex;
    flex-direction: row;
  }

  .list{
    display: flex;

  }

  .list ul li{
    flex-direction: row;
  }

  .company-info {
    max-width: 100%;
    text-align: center;
  }

  ul {
    text-align: center;
    padding: 0;
    display: flex;
  }

  li{
    flex-direction: row;
  }

  ul li {
    margin-bottom: 15px;
    flex-direction: row;
  }

  .social-links {
    text-align: center;
  }

  .social-links a {
    margin-right: 10px;
  }
}

