nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10001;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding: 2vh;
  text-decoration: solid;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.navbar-link {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-link.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 768px){
  .hamburger {
    display: block;
  }

  .navbar-link {
    display: none;
  }

.navbar-link.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }
}
